
<div [formGroup]="formGroup" class="form" >
  <mat-form-field appearance="outline">
    <mat-label>Buscar ...</mat-label>
    <input matInput placeholder="Buscar" formControlName="search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary"  (click)="createTask()">
    <mat-icon >add</mat-icon>
  </button>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef> Tarea </th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.completed ? 'textFinalizada' : ''"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha de vencimiento</th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.completed ? 'textFinalizada' : ''" > {{element.date|date}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="actions">
        <button mat-button color="primary" (click)="maskCompletedTask(element.id, element.completed)" [ngClass]="element.completed ? 'buttomFinalizada' : 'buttomEnCurso'">{{element.completed ? "Finalizada" : "En Curso"}}</button>
        <button mat-raised-button color="primary" (click)="deleteTask(element.id)">
          <mat-icon>delete</mat-icon>
          Borrar
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
