.todoList{
    margin: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.buttonDelete{
    background: red !important;
}
